.tag-badge {
  display: flex;
  height: fit-content;
  background-color: #f3d050;
  color: black;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 0.1em;
  margin: 0.1em;
  &__active {
    display: flex;
    height: fit-content;
    background-color: black;
    color:#f3d050;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
    margin: 0.1em;
  }
  cursor: pointer;
}
