@use "/src/global.scss" as *;

.tag-badge {
  display: flex;
  height: fit-content;
  background-color: #f3d050;
  color: black;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin: 0.1em;
  padding: 10px;
  font-family: "Montserrat Bold", sans-serif;
  transition: all linear 0.1s;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  @include tablet {
    padding: 5px;
  }
  &:hover {
    box-shadow: none;
  }
  &__active {
    display: flex;
    height: fit-content;
    background-color: black;
    color: #f3d050;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: "Montserrat Bold", sans-serif;
    margin: 0px;
    box-shadow: none;
    @include tablet {
      padding: 5px;
    }
  }
  cursor: pointer;
}
