@use "/src/global.scss" as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.33);
  height: 60px;
  padding: 0px 15px;
  z-index: 1;
}
nav {
  display: flex;
  align-items: center;
  img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  p {
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
  }
  a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
    @include tablet {
      display: none;
    }
    @include mobile {
      display: none;
    }
    &.active {
      display: none;
    }
  }
}
