$primary-color: black;
$primary-light: #9e47ff;
$primary-dark: black;
$error-color: #b00020;
$text-color: #333;
$light-gray: #f5f5f5;
$medium-gray: #e0e0e0;
$dark-gray: #757575;


.input-container {
  position: relative;
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  transition: all 0.3s ease;
  border-radius: 6px 6px 0 0;
  &.focused {
    .input-label {
      color: $primary-color;
    }
  }

  &.has-value {
    .input-label {
      color: $dark-gray;
    }
  }
}

.styled-input {
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 6px 6px 0 0;
  background-color: white;
  color: $text-color;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: none;
  border-bottom: 1px solid $medium-gray;
  min-height: 50px;
  &:focus {
    border-bottom-color: transparent;
  }

  &:disabled {
    color: $medium-gray;
    border-bottom-color: $light-gray;
  }
}

.input-label {
  position: absolute;
  left: 8px;
  top: 14px;
  color: $dark-gray;
  font-size: 16px;
  font-weight: 400;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left top;

  &.label-up {
    transform: translateY(-30px) scale(0.75);
    color: $primary-color;
  }
}

.input-underline {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: $medium-gray;
  overflow: hidden;

  .underline-animation {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $primary-color;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center;

    &.active {
      transform: scaleX(1);
    }
  }
}

.required-star {
  color: $error-color;
  margin-left: 4px;
}

@keyframes input-highlight {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes float-label {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-20px) scale(0.75);
    opacity: 1;
  }
}