$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $breakpoint-laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) or (max-width: $breakpoint-desktop) {
    @content;
  }
}

#modal-box {
  .modal-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: drop-shadow 1s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
      background-color: white;
      position: sticky;
    }
  }
}

#notify-box {
  position: fixed;
  right: 30px;
  bottom: 30px;
  .warning {
    background-color: yellow;
  }
  .success {
    background-color: green;
  }
  .error {
    background-color: red;
  }
  .notify {
    &__visible {
      position: absolute;
      right: 30px;
      bottom: 30px;
      animation: toggle-notify 6s ease-in forwards;
    }
  }
}

@keyframes drop-shadow {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes toggle-notify {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  10% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.98);
  }
}
