$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $breakpoint-laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) or (max-width: $breakpoint-desktop) {
    @content;
  }
}

#modal-box {
  .modal-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: drop-shadow 1s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
      background-color: white;
      position: sticky;
    }
  }
}

@keyframes drop-shadow {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
