.post-input-toggler{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #f3d050;
    border-radius: 6px;
    padding: 10px;
    margin: 10px 0px;
    font-family: "Montserrat Bold", sans-serif;
}

.post-input {
  max-height: 0px;
  margin-top: 10px;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.post-input__visible {
  max-height: 500px;
  transition: max-height 1s ease-in-out;
}
